*.o
*.out
*.exe
*.one.llvm
*.opt.llvm
*.ct.llvm
*.bc
callgrind.out.*
*-alt.ll
*-alt.opt.ll
.out
out
tests/Examples/others/nqueens
tests/GoogleBench/orig
tests/BenchmarkGame/others
tests/*/*.json
tests/*/*.json.dot
tests/*/*.json.pdf
